@use "./variable";
@forward "./variable" as color-*;
$_textColor: #333;
@mixin -center {
  text-align: center;
}
.header {
  background: variable.$primaryColor;
  color: $_textColor;
  @include -center();
}
